@using Microsoft.Extensions.Localization
@using Web.Features.Controllers
@inject IStringLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    Web
</div>
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">@TempData["Error"]</div>
}
