@using Microsoft.Extensions.Localization
@using Web.Controllers
@inject IStringLocalizer<HomeController> Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Web
</div>
